@import "elements";

@font-face {
    font-family: "OpenSans";
    src: url("./OpenSans-Light.ttf");
}
@active-colour: rgb(175, 50, 50);

@font-family: 'OpenSans', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;

@sprites: url('img/sprites.png') no-repeat top left;

.sprite-caret-open{ background-position: 0 0; width: 9px; height: 7px; } 
.sprite-caret{ background-position: 0 -12px; width: 9px; height: 7px; } 
.sprite-heart-hover{ background-position: 0 -24px; width: 11px; height: 10px; } 
.sprite-heart{ background-position: 0 -39px; width: 11px; height: 10px; } 

.share-active-state {
    color: @active-colour;
    .heart {
        .sprite-heart-hover;
    }
    .caret {
        div {
            .sprite-caret-open;
        }
    }
    .text{
        border-color: lighten(@active-colour, 10%);
    }
}

.socialshare{
    font-family: @font-family;

    .clear{
        clear: both;
    }

    .share-link{
        div {
            cursor: pointer;
            color: rgb(72,72,72);
            &:hover{.share-active-state;}
        }

        .caret {
            border: 1px solid rgba(0, 0, 0, 0.12);
            background: rgba(255, 255, 255, 0.95);
            float: left;
            width: 19px;
            height: 19px;
            margin-left: 6px;
            margin-top: 3px;
            .rounded(3px);
            .box-shadow(~'0 0 .25px rgba(0, 0, 0, 0.3)', ~'inset 0 -2px rgba(0, 0, 0, 0.1)');
            div {
                margin: 5px auto 0;
                background: @sprites;
                .sprite-caret;
            }
        }

        .heart {
            margin: 9px 5px 0 0;
            float: left;
            background: @sprites;
            .sprite-heart;
        }

        .text {
            border-bottom: 1px dotted rgba(72, 72, 72, 0.4);
            letter-spacing: -0.25px;
            float: left;
            margin: 0;
        }
    }

    .share-options {
        display: none;
        position: absolute;
        .rounded(3px);
        background: #fff;
        list-style: none;
        z-index: 9001;
        .drop-shadow(0, 1px, 2px, 0.1);
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 0;
            }
        }
    }

    &.open {
        .share-link div {
            .share-active-state;
            .caret {
                width: 21px;
                height: 21px;
                border: 0;
                .box-shadow(~'0 0 1px rgba(255,255,255,0.6)', ~'inset 0 2px .5px 0 rgba(0,0,0,0.35)', ~'inset 0 0 5px 0 rgba(170,170,170,0.2)');
                background-color: rgba(74,74,74,0.1);
                div {
                    margin-top: 7px;
                    width: 20px;
                }
            }
        }
        .share-options {
            display: block;
            margin-top: 12px;
        }
    }
    &.open[data-type="bubbles"] .share-options {
        width: 178px;
        height: 68px;
        padding: 12px 12px 6.5px 12px;
        margin-left: 7px;
        ul {
            li {
                float: left;
                &:nth-child(1) {
                    width: 48px;
                }
                &:nth-child(2) {
                    margin-top:2px;
                }
                &:nth-child(-n+2) {
                    padding-right: 12px;
                }
            }
        }
    }
    &.open[data-type="small-bubbles"] .share-options {
        padding: 12px 6px 6.5px 12px;
        height: 92px;
        width: 80px;
        margin-left: 54px;

        ul {
            li {
                &:nth-child(1) {
                    margin-top: -4px;
                }
                &:nth-child(2) {
                    height: 24px;
                }
                &:nth-child(-n+2) {
                    padding-bottom: 12px;
                }
            }
        }
    }
}
